@{
    ViewBag.Title = "AboutUs";
}

<div class="center">
    <div class="t_center"><h2>все о нашей клинике</h2></div>
    
    <div class="info_block info_block_padding">
        <p>Основа работы нашей клиники - семейный врач, лечащий всю семью. По этому принципу работали еще земские доктора России, а сегодня частнопрактикующиемедики во многих странах. Современный уровень развития медицины доказывает, что семейный врач - это уже не один человек, а команда медиков профессионалов: терапевт,педиатр, медицинские сестры, специалисты всех направленийНаша Клиника - первая частная Клиника полного цикла, открытая в Днепропетровске в 1996 году. Это медицинский центр европейского типа с усовершенствованным икачественно новым уровнем обслуживания пациентов. Приходя в нашу клинику, люди уверены, что доверяют заботу о своем здоровье настоящим с</p>
    </div>
    <div class="img_text">
        <img src="~/Content/img/aboutus_pic1.jpg" />
    </div>
    
    <div class ="info_block info_block_padding">
        <p>Основной идеей была и остается комплексный подход к здоровью пациентов - диагностика, лечение, профилактика, реабилитация, а также предоставление медицинских услуг всем членам семьи в рамках программы "Семейный врач". Современный уровень развития медицины доказывает, что основное направление - семейная медицина - выбрано правильно. На сегодняшний день более 160000 семей поручили заботу о своем здоровье Клинике. Вместе с семейными врачами в "Клинике семейной медицины" работают специалисты еще по 19 клиническим программам (по гастроэнтерологии, пластической хирургии, ортопедии, травматологии, гинекологии и др.), а также врачи-консультанты из лечебных учреждений города и области.</p>
        <h3>Обращение директора клиники</h3>
        <p>Уважаемые пациенты! Задумавшись о своем здоровье, Вы уже совершили правильный шаг.
Обратившись в Клинику за медицинской помощью, Вы продолжаете начатый путь к своему выздоровлению.
С 1996 г. клиника предоставляет медицинское обслуживание гражданам Украины и зарубежным гостям. Количество высказанных благодарностей пациентов внушительно, и это объясняется тем, что мы не просто дарим людям надежду, а избавляем их от мучительных недугов и возвращаем к жизни. Являясь крупнейшим частным медицинским учреждением в Украине, «Клиника семейной медицины» представляет собой мощный механизм, влияющий на прогрессивное развитие современной медицины. Благодаря использованию новейшего оборудования, внедрению инновационных методов лечения и диагностики, клиника с гордостью демонстрирует лучшие показатели выздоровления своих пациентов в Украине. Помните! Пациентам Клиники предоставляется возможность воспользоваться медицинским обслуживанием европейского уровня и благодаря этому излечиться и выздороветь. С уважением директор Клиники.</p>
    </div>
    <div class="img_text">
        <img src="~/Content/img/aboutus_pic2.jpg" />
    </div> 

    <div class="info_block info_block_padding">
        <h3>Миссия Клиники</h3>
        <p>— это своевременная диагностика, консультирование, стационарная медицинская помощь взрослым и детям, оказание неотложной медицинской помощи в ургентных состояниях в соответствии с европейскими стандартами диагностики и лечения. Выявление заболеваний на ранних стадиях — гарантия успешного восстановления здоровья. Именно профилактическая направленность медицины — основная задача здравоохранения европейских стран. Современное новейшее оборудование, которым оснащенна Клиника сегодня, позволяет точно и своевременно поставить диагноз и выявить риски онкологических, сердечно-сосудистых, гастроэнтерологических, бронхо-легочных, костно-суставных заболеваний. В Клинике работают и консультируют врачи 42 специальностей. Это высококвалифицированные специалисты, владеющие самыми современными медицинскими технологиями и методиками. Кроме традиционных, при лечении применяются такие методы как: озонотерапия, мезотерапия, инфракрасная коагуляция, рефлексотерапия, аргоноплазменная и радиоволновая терапия, фототерапия и др. Мы используем современное оборудование и аппаратуру фирм "Zeiss", "Pentax",  "General Electric", "Stryker", "Toshiba", "Olympus", "KARL STORZ", "STORZ MEDICAL", "Ulrich medical" и т.д. Клиника  сотрудничает с лечебно-профилактическими учреждениями г. Днепропетровска, дальнего и ближнего зарубежья: с одной стороны принимая пациентов для осуществления диагностики, с другой — отправляя больных в специализированные клиники на лечение в случае необходимости.</p>
        <p class="bold_text">Мы благодарим наших пациентов за выбор нашей Клиники и надеемся, что и в дальнейшем сможем вам быть полезны.</p>  
     </div>
</div>
