@{
    ViewBag.Title = "Contacts";
}

<div class="center_cont">
    <div class="t_center">
        <h2>Контактная информация</h2>
    </div>
    <div class="t_center">
        <img src="~/Content/img/map.jpg" />
    </div>

    <div class="contact_form_wrap">
        <form class="contact_form fl">
            <input type="text" placeholder="Ф.И.О." />
            <br />
            <input type="text" placeholder="Электронная почта" />
            <br />
            <textarea placeholder="Сообщение"></textarea>
            <button class="button_small">Отправить</button>
        </form>

        <div class="contact_info fl">
            <p class="bold_text">Украина, г.Днепропетровск, ул. Гагарина, 121</p>
            <br />
            <span class="phone fl"></span>
            <p><span class="bold_text">Регистратура:</span> +38 (0562) 310 310</p>
            <br />
            <span class="phone fl"></span>
            <p><span class="bold_text">Отделение педиатрии:</span> +38 (0562) 310 308</p>
            <br />
            <span class="phone fl"></span>
            <p><span class="bold_text">Центр здоровья женщины:</span> +38 (0562) 310 314</p>
            <br />
            <span class="email fl"></span>
            <p><span class="bold_text">Registratur@gmail.com</span></p>
        </div>

    </div>
    <div class="clear"></div>

</div>

