@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

    <div class="wrapper">

        

        <div>
            <div class="left_info_block fl">
                <div class="info_block_padding">
                    <h2>Услуги</h2>
                    <ul class="services">
                        <li>Компьютерная диагностика</li>
                        <li>Женская консультация</li>
                        <li>Педиатрия</li>
                        <li>Хирургия</li>
                        <li>Нейрохирургия</li>
                        <li>Физеотерапия</li>
                        <li>Компьютерная диагностика</li>
                        <li>Женская консультация</li>
                        <li>Педиатрия</li>
                        <li>Хирургия</li>
                        <li>Нейрохирургия</li>
                    </ul>
                </div>
            </div>


            <div class="right_info_block fr">
                <div class="info_block_padding">
                    <div class="fl">
                        <img src="~/Content/img/content_img1.png" />
                    </div>
                    <div class="info_block_text">
                        <h3>История нашей клиники</h3>
                        <p>С 1996 г. клиника предоставляет медицинское обслуживание гражданам Украины и зарубежным гостям. Количество высказанных благодарностей пациентов внушительно, и это объясняется тем, что мы не просто дарим людям надежду, а избавляем их от мучительных недугов и возвращаем к жизни. Являясь крупнейшим частным медицинским учреждением в Украине, «Клиника семейной медицины» представляет собой мощный механизм, влияющий на прогрессивное развитие современной медицины.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="central_block t_center">
            <h2>Наши лучшие специалисты</h2>
            <div>
                <div class="spec_block">
                    <div class="spec_photo"><img src="~/Content/img/photo1.png" /></div>
                    <div class="spec_info">
                        <p class="name">Бутник Р.А.</p>
                        <p>Ведущий хирург,</p>
                        <p>доктор медицинских наук</p>
                    </div>
                </div>

                <div class="spec_block">
                    <div class="spec_photo"><img src="~/Content/img/photo2.png" /></div>
                    <div class="spec_info">
                        <p class="name">Воропай Г.Н.</p>
                        <p>Кардиолог, терапевт,</p>
                        <p>кандидат медицинских наук</p>
                    </div>
                </div>

                <div class="spec_block">
                    <div class="spec_photo"><img src="~/Content/img/photo3.png" /></div>
                    <div class="spec_info">
                        <p class="name">Гусев В.В.</p>
                        <p>Эндокринолог высшей категории,</p>
                        <p>кандидат медицинских наук</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="t_center">
            <h2>Современное оборудование</h2>
            <div class="info_block">
                <div class="padding">
                    <div class="item">
                        <img src="~/Content/img/equipment1.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/equipment2.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Content/img/equipment3.jpg" />
                    </div>
                </div>
            </div>
        </div>

        <div class="t_center">
            <h2>Свежие новости</h2>
            <div class="info_block">
                <div class="padding">
                    <div class="item">
                        <div class="news">
                            <h3>НЕКОТОРЫЕ АСПЕКТЫ ПАТОГЕ...</h3>
                            <p>Авторы рассматривают современные взгляды на патогене атеросклероза. Подчеркивается значение вклада А.Л. Мясникова в развитие исследований по изучению проблемы атеросклероза, проводившихся в Институте терапии и продолжающихся теперь в Российском кардио логическом научно-производственном комплексе. Атерогенез требует участия клеток сосудистой стенки (эндотелиальных и гладкомышечных клеток), циркулирующих форменных элементов крови (моноциты, тромбоциты и определенных химических медиаторов (цитокинов). щих форменных элементов крови (моноциты, тромбоцит.</p>
                            <div class="date">
                                <p class="fl">02/05/2015</p>
                                <a class="fr">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="news">
                            <h3>ПРОБЛЕМА ЭВТАНАЗИИ</h3>
                            <p>Среди множества медицинских, юридических, религиозных проблем важное место занимает проблема эвтаназии. Явление эвтаназии – пища для размышления общественно-правового сознания населения. В связи с тем, что человеческая жизнь является главной ценность современной цивилизации, проблема эвтаназии приобрела иной путь востребования. общественно-правового сознания населения. В связи с тем, что человеческая жизнь является главной ценность современной цивилизации, проблема эвтаназии приобрела иной путь востребования.</p>
                            <div class="date">
                                <p class="fl">02/05/2015</p>
                                <a class="fr">Подробнее</a>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="news">
                            <h3>ЭПИДЕМИЯ ОЖИРЕНИЯ</h3>
                            <p>Распространенность ожирения и ассоциированных с ним заболеваний, в том числе СД 2 типа, достигли масштабов глобальной эпидемии. Несмотря на то, что питание и физическая активность считаются ведущими причинами эпидемии ожирения, существуетмножество других факторов окружающей среды, которые могут играть важную роль в его распространении. К ним относятся кишечная микрофлора, недостаток сна, стрессы, социальная среда, эндокринные разрушители и др. Эти факторы играют ключевую роль в регуляции адипогенеза. </p>
                            <div class="date">
                                <p class="fl">02/05/2015</p>
                                <a class="fr">Подробнее</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div><!-- .wrapper -->

