@{
    ViewBag.Title = "News";
}

<div class="center_cont">
    <div class="info_block info_block_padding news_menu fl">
        <h3>Новости клиники</h3>
        <ul class="news_list">
            <li><a href="">Новые ультразвуковые исследования детей!</a></li>
            <li><a href="">Работа МРТ и лаборатории на выходных!</a></li>
            <li><a href="">Передовой метод лечения сосудов нижних конечностей</a></li>
        </ul>
        <h3>Мецинские Статьи</h3>
        <ul class="news_list">
            <li><a href="">Антибиотики в комплексном лечении острых риносинуситов: оправданная необходимость или медицинская мода?</a></li>
            <li><a href="">Современные методы лечения болезни Паркинсона</a></li>
        </ul>
    </div>

    <div class="info_block info_block_padding news_block fl">
        <div class="news_img fl">
            <img src="~/Content/img/news1.jpg" />
        </div>
        <div class="news_info fl">
            <h3>Заметки о диабете</h3>
            <p>Диабет 2 типа – это серьезное заболевание эндокринной системы. Не каждый  человек с возрастом приобретает эту болезнь - влияющие факторы риска известны: наследственность, неправильное питание, стрессы, алкоголизм и многое другое, но когда-то бывает первый признак диабета – при диспансеризации выявили в лаборатории повышение уровня глюкозы в крови. Необходимо проверить  глюкозу в надежной лаборатории на стационарном приборе,  на голодный желудок, утром, исключая препараты и пищевые продукты, которые могут повлиять на результат.</p>
        </div>
        <div class="news_block_footer">
            <p class="fl">20 мая 2015</p>
            <a class="button_small fr">Подробнее</a>
        </div>
    </div>

    <div class="clear"></div>
</div>

