@{
    ViewBag.Title = "GetDoctors";
}

<div>



    <div class="fl test">
        <ul class="doctor_filter">
            <li><a href="" class="active">Общий список</a></li>
            <li><a href="">Аллерголог</a></li>
            <li><a href="">Анастезиолог</a></li>
            <li><a href="">Гастроэнтеролог</a></li>
            <li><a href="">Гинеколог</a></li>
            <li><a href="">Дерматолог</a></li>
            <li><a href="">Кардиолог</a></li>
            <li><a href="">Невропатолог</a></li>
            <li><a href="">Хирург</a></li>
            <li><a href="">Травматолог</a></li>
            <li><a href="">Эндокринолог</a></li>
            <li><a href="">Терапевт</a></li>
            <li><a href="">Педиатр</a></li>
        </ul>
    </div>

    <div class="info_block fl doctor_block">
        <div class="info_block_padding">
            <div>
                
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>