@{
    ViewBag.Title = "GetDoctors";
}

<div class="center">

    <div class="fl test">
        <ul class="doctor_filter">
            <li><a href="" class="active">Общий список</a></li>
            <li><a href="">Аллерголог</a></li>
            <li><a href="">Анастезиолог</a></li>
            <li><a href="">Гастроэнтеролог</a></li>
            <li><a href="">Гинеколог</a></li>
            <li><a href="">Дерматолог</a></li>
            <li><a href="">Кардиолог</a></li>
            <li><a href="">Невропатолог</a></li>
            <li><a href="">Хирург</a></li>
            <li><a href="">Травматолог</a></li>
            <li><a href="">Эндокринолог</a></li>
            <li><a href="">Терапевт</a></li>
            <li><a href="">Педиатр</a></li>
        </ul>
    </div>

    <div>
        <div class="info_block fl doctor_block info_block_padding">

            <div class="doctor_photo fl">
                <img src="~/Content/img/doctor_photo1.png" />
            </div>
            <div class="doctors_info fl">
                <p class="name">САФРОНКОВА НАТАЛЬЯ ИВАНОВНА</p>
                <p>Врач-аллерголог высшей категории</p>
                <p>Детский врач-аллерголог высшей категории</p>
                <div class="specialization">
                    <p>Подразделение: Дерматология</p>
                </div>
            </div>

            <div class="fr">
                <div class="button_wrap">
                    <a href="" class="button_small">Задать вопрос</a>
                </div>
                <div class="button_wrap">
                    <a href="" class="button_small">Записаться на приём</a>
                </div>
                <div class="toggle_wrap">
                    <span id="arrow_toggle" class="arrow_toggle"></span>
                </div>
            </div>
        </div>
        <div id="toggle_doctor" class="info_block doctor_block info_block_padding fl">
            <p>	Заведующий ЛОР-кабинетом «Клиники семейной медицины». Врач высшей категории, кандидат медицинских наук, доцент. Выпускник Днепропетровского медицинского института. Первичную специализацию прошел в 1966г. в ЛОР-Клинике ДМИ под руководством профессора Л.А. Луковского и доцента Г.М. Тытаря. Владеет современными методами диагностики, консервативного и хирургического лечения заболеваний ЛОР-органов. </p>

                <p class="marker">Кабинет №2: ЛОР</p>
                <p class="marker">Время приёма:</p>

            <table class="timetable">
                <tr>
                    <td>
                        <p>Понедельник</p>
                        <p>21.05.2015</p>
                    </td>
                    <td>
                        <p>Вторник</p>
                        <p>22.05.2015</p>
                    </td>
                    <td>
                        <p>Среда</p>
                        <p>23.05.2015</p>
                    </td>
                    <td>
                        <p>Четверг</p>
                        <p>24.05.2015</p>
                    </td>
                    <td>
                        <p>Пятница</p>
                        <p>25.05.2015</p>
                    </td>
                    <td>
                        <p>Суббота</p>
                        <p>26.05.2015</p>
                    </td>
                    <td>
                        <p>Воскресенье</p>
                        <p>27.05.2015</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>8:00-15:00</p>
                    </td>
                    <td>
                        <p>8:00-15:00</p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p>15:00-18:00</p>
                    </td>
                    <td>
                        <p>15:00-18:00</p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="clear"></div>
</div>