@{
    ViewBag.Title = "Administrate";
}

<h2>Administrate</h2>

<div>
    <ul>
        <li><a href="@Url.Action("DoctorsManage", "User")">Doctors manage</a></li>
        <li><a href="@Url.Action("NewsManage","User")">News manage</a></li>
    </ul>

</div>